/* styles.css */
* {
    font-family: Georgia, serif;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: linen;
}

.header, .footer  {
    display: flex;
    height: 64px;
    background-color: bisque;
}

.footer {
    align-items: center;
}

.body {
    flex: 1;
    display: flex;
    
}

.sidebar {
    flex-shrink: 0;
    width: 250px;
    box-sizing: border-box;
    padding: 16px;
    background-color: antiquewhite;
}

.ul {
    list-style: none;
}

.a {
    text-decoration: none;
}

h1 {
    color: black;
}

h2 {
    color: darkslategray;
}

p {
    font-size: 20px;
}
