/* styles.css */

body {
    display: flex;
    background-color: linen;
    font-family: Georgia, serif;
}

.header, .footer  {
    height: 64px;
    background-color: purple;
}

.body {
    flex: 1;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 16px;
    width: 250px;
    background-color: burlywood;
}




h1 {
    color: black;
}

h2 {
    color: darkslategray;
}

p {
    font-size: 20px;
}
